*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#piano {
    width: 90%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    display: flex;
}

.key {
    width: 12%;
    height: 200px;
    float: left;
    background: white;
    border: 1px solid black;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
}

.key:hover {
    background-color: black;
    color: white;
}

.piano {
    width: 300px;
    height: 200px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}